body {
    padding-bottom: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-size:16px;
    font-weight: 400;
    color: #0f2e42;
    letter-spacing: 0.5px;
    background-color: #fff;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    /*margin-bottom: 40px;*/
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    /*background-color: #f5f5f5;*/
}

.v-margin {
    margin:20px 0;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    /*padding: 60px 15px 0;*/
}
.container .text-muted {
    /*margin: 20px 0;*/
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 85%;
}

.menu {
    margin:30px auto;
}

.menu-item {
    text-transform: uppercase;
    font-size: 13px;
    color: #8a8a8a;
    width: 130px;
    float: left;
    margin-right:20px;
    cursor: pointer;
    margin-bottom:10px;
    border-right: 1px solid #93117e;
}

.menu-item:last-child {
    border-right: none;
}


.item-title {

    margin-bottom: 5px;
}

.menu ul {
    margin: 0;
    padding: 0;

}

.menu-arrow {
    width: 110px;
    height: 25px;
    background-color: #fd8900;
    background-image: url(../img/arrow.png);
    background-position: 96% center;
    background-repeat: no-repeat;
}

.menu-item:nth-child(2) .menu-arrow {  background-color: #34495e; }
.menu-item:nth-child(3) .menu-arrow {  background-color: #93117e; }
.menu-item:nth-child(4) .menu-arrow {  background-color: #B0BB00; }
.menu-item:nth-child(5) .menu-arrow {  background-color: #FF0092; }
.menu-item:nth-child(6) .menu-arrow {  background-color: #02aedc; }

/* end Sticky footer styles
-------------------------------------------------- */

button:focus {outline:0;}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.container-main {
    background-color:#ffffff;
    padding: 0;
    padding-bottom: 20px;
    height: 800px;
}

.test-image {
    width:100%;
    max-height:528px;
    margin: 0;
    margin-top: 10px;
}

ul {
    list-style: none;
    margin:0;
}

.button-option {
    padding: 5px 10px;
    margin-right:5px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: #cdddeb;
    /*background-color: #dcdcdc;*/
    border: 1px solid transparent;
    border-radius: 4px;
}

li.option {
    margin:5px 0;
    padding: 5px;
    width:80%;
}

li.option div{
    display:inline-block;
    cursor: pointer;
}

li.option:hover {
    color: black;
}

li.option.active .button-option {
    background: grey;
    color: #ffffff;
}

.image-container{
    position: relative;

}

.image-container img {
    border: 1px solid #cccccc;
}

.explanation-row {
    position: absolute;
    width: 100%;
    margin:0 auto;
    bottom: 0px;
    font-size: 18px;
    line-height: 22px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.explanation {
    background: #ffffff;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.option .glyphicon-ok {
    color: green;
    top:5px;
}

.option.correct{
    background-color: #dff0d8;
    padding: 5px;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25),0 1px 2px rgba(0,0,0,0.05);
}

.option.wrong{
    background-color: #e7c3c3 ;
    padding: 5px;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25),0 1px 2px rgba(0,0,0,0.05);
}

.msg {
    text-align: center;
}

.button-state-1{
    background-color: #0f2e42;
}

.container-title h1{
    text-align: center;
    margin: 20px auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 2px;
    font-weight: 600;
}

.questions {
    box-sizing: padding-box;
    margin-top:0px;
    height: 280px;
    padding:15px;
    font-size:18px;
}

#msg-answer {
    padding:5px;
}

.visible {
    visibility: visible;
}

.visible-hidden {
    visibility: hidden;
}

#subscribe ul li{
    font-size:13px;
    font-weight: bold;
}

#subscribe label {
    font-size: 0.75em;
}

#subscribe .input-error, .input-error {
    border-color: #e1007a;
}

.input-error + ul {
    color: #e1007a;
}

input[type='submit'] {
    outline: none;
}

.alert {
    text-align: center;
    margin-bottom:5px;
}

ul.connected {
    float:right;
    padding:5px 10px 0 0;
    margin: 0;
}

.connected li{
    position: relative;
    display: block;
    color:#eeeeee;
    padding-left:15px;
    font-size:14px;
}

.connected .glyphicon {
    font-size: 14px;
}

.explanation p {
    margin:0;
}

.container-subscribe h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.navbar {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.navbar-header {
    border-left: 1px solid #b062a3;
    padding-left:10px;
    line-height: 18px;
    position: relative;
}

.navbar-header ul {
    position: absolute;
    top:10px;
    right:0;
}

.navbar-header ul li {
    float: right;
    margin-right:5px;
    cursor: pointer;
}

.navbar-header ul li {
    width: 36px;
    height: 36px;
    display: inline-block;
}

.facebook {background: url("../img/facebook.png") no-repeat;}
.twitter {background: url("../img/twitter.png") no-repeat;}
.google {background: url("../img/google.png") no-repeat;}


.navbar-title {
    font-weight: bold;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
}

.navbar .navbar-brand:hover {
    color: #999999;
}

.navbar-form {
    position: relative;
    top:-50px;
    right:0;
}

.navbar, .navbar-inverse{
    height: 90px;
    padding-top:15px;
    color: #ffffff;
    background-color: #93117e;
    background-image: none;
    margin:0;
}

.navbar-inverse {
    border:none;
}

.subscribe {
    font-size:16px;
    color: #ffffff;
    padding-top:5px;
    padding-left:10px;
    text-decoration: underline;
}

.subscribe:hover {
    cursor: pointer;
}

#toggle-connexion {
    color:#ffffff;
    padding:0;
    margin-right:10px;
    margin-top:2px;
    font-size:14px;
    text-decoration: underline;
}

#toggle-connexion:hover {
    color: #2a6496;
}

.count {
    font-size:16px;
}

.count .glyphicon-thumbs-up {
    color: #5cb85c;
    margin-right:10px;
}

.count .glyphicon-thumbs-down {
 color: #d9534f;
}

.row-captcha pre{
    text-align: center;
    font-size:8px;
}

footer {
    font-size:16px;
    border-top: 4px solid #d5d5d5;
    border-bottom: 4px solid #d5d5d5;
    height:80px;
    margin-bottom: 10px;
    padding-top:5px;
}

footer .pull-right {
    margin-left : 50px;
}

.round-button {
    width: 102px;
    height: 0;
    padding-bottom: 95px;
    border-radius: 50%;
    border: 5px solid #f5f5f5;
    overflow: hidden;
    background: #e1007a;
    box-shadow: 0 0 3px gray;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    color: #ffffff;
    position: relative;
    cursor: pointer;
}

#contact-button {
    width: 90px;
    line-height: 85px;
}

.round-button-validate {
    position: relative;
    top: -90px;
}

.round-button:hover {
    border: 5px solid #cdddeb;
}

.round-button-next {
    background: #57a900;
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
}

.round-button-next:hover {
    background: #57a900;
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
}


.round-button-content {
    position: relative;
    top:30px;
    font-size: 20px;
    text-align: center;
}

.navbar-header {
    width:100%;
}

#submitbutton {
    margin-bottom: 20px;
}

.container-panel {
    height: auto;
    padding: 10px;
}

.container-panel-contact {
    background: #B0BB00;
}

.container-panel-faq {
    background: #34495e;
}

.panel-title {
    position: relative;
    max-width: 43%;
    min-width: 250px;
    -webkit-box-shadow: 10px 10px 18px rgba(30, 30, 30, 0.15);
    -moz-box-shadow: 10px 10px 18px rgba(30, 30, 30, 0.15);
    box-shadow: 10px 10px 18px rgba(30, 30, 30, 0.15);
    background-color: #FFF;
    padding: 10px 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.container-panel h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 100;
    color: #333333;
    text-transform: uppercase;
    padding: 0;
    margin-bottom:5px;
}

.container-panel p {
    margin:0;
}

.faq ul {
    padding: 0;
}

.faq ul li{
    margin-bottom: 20px
}

.faq h3 {
    font-size:20px;
    font-family: 'Josefin Sans', sans-serif;
    color: #34495e;
    margin-bottom:5px;

}

@media (max-width: 1000px) {
    body {
        font-size:18px;
    }

    .faq p {
        font-size:16px;
    }

    .explanation-row {
        font-size: 14px;
        line-height: 15px;
    }

    .social {
        display: none;
    }

    .navbar {
        padding-top: 0;
        height: 60px;
    }

    .navbar-header {
        font-size: 13px;
    }

    .questions ul {
        padding: 0;
    }

    .navbar-form {
        top:0px;
    }

    #msg-answer {
        padding:0px;
        font-size: 13px;
    }

    .menu {
        margin: 20px auto;
    }

    .menu .navigation .item-title {
        border: none;
    }

    .menu .navigation .menu-item {
        font-size:16px;
        text-transform: lowercase;
        width: 90px;
    }

    .menu-item {
        border: none;
    }

    .menu .navigation .menu-arrow {
        width: 80px;
        height: 20px;
    }

    li.option {
        width:75%;
    }

    .questions {
        height: 250px;
    }

    .container-main {
        height: 260px;
    }

    .panel-title {
        max-width: 390px;
    }
}

@media (max-width: 385px) {

    body {
        font-size: 14px;
    }

    .panel-title {
        font-size: 13px;
    }

    .panel-title h1{
        font-size: 15px;
        margin: 0;
    }

    .navbar-header {
        font-size: 13px;
    }

    .menu {
        margin: 10px auto;
    }

    .menu .navigation .menu-item {
        font-size:13px;
        text-transform: lowercase;
        width: 63px;
    }

    .menu .navigation .menu-arrow {
        width: 63px;
        height: 20px;
    }

    .menu .navigation .item-title {
        border: none;
    }

    .container-main {
        height: 460px;
    }

    footer {
        font-size:13px;
    }

    footer .pull-right {
        margin-left : 20px;
    }

    .round-button-validate {
        position: relative;
        top: -30px;
    }

    li.option {
        width:180px;
    }

    .questions {
        height: 200px;
    }

    .row-captcha pre{
        text-align: center;
        font-size:8px;
    }
}